<ng-container *ngIf="true">
    <div class="container">
        <div class="card-table">
            <div class="cart-product">
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th>Sr.No</th>
                            <th>Product Name</th>
                            <th>Product Image</th>
                            <th>Description</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <td>1</td>
                        <td>TV</td>
                        <td>Image</td>
                        <td>This is a tv</td>
                        <td>10,000</td>
                        <td>1</td>
                        <td>10,000</td>
                        <td>
                            <button class="btn btn-danger"><i class="fas fa-trash"></i></button>
                        </td>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="false">
    <div class="contaier">
        <div class="card">
            <h5 class="card-title">My Cart</h5>
        </div>
        <div class="center">
            <img src="https://rukminim1.flixcart.com/flap/128/128/image/f15c02bfeb02d15d.png?q=100" alt="">
            <h4>Your cart is empty</h4>
            <h6>Add item to it now</h6>
            <button class="btn btn-primary">Shop now</button>
        </div>
    </div>
</ng-container>