<header>
    <div class="navbar navbar-dark bg-danger shadow-sm">
        <div class="navbar-brand align-item-center d-flex">
            <i routerLink="/products" style="font-size: 40px; cursor: pointer;" class="fa-brands fa-angular">&nbsp;
                
            </i>
                <strong routerLink="/products"  style="font-size: 30px; cursor: pointer;">Angular Shopping</strong>
        </div>
        <button routerLink="cart" class="btn btn-danger">
            <i style="font-size: 30px;" class="fas fa-cart-plus"></i>
            <div style="font-size: 10px;" class="badge bg-danger">{{totalItem}}</div>
        </button>
    </div>
</header>